<center> <h1>Universidad Nacional de San Agustín de Arequipa</h1> </center> 
<center> <h1>Escuela Profesional de Ingeniería de Telecomunicaciones</h1> </center> 

<center> <h1> </h1> </center> 

<center><img src="https://user-images.githubusercontent.com/19308295/115939517-f1c6fe80-a463-11eb-989c-812ab4942586.png" width="380" height="4200"></center>

<center> <h2>Ingeniero Renzo Bolivar - Docente DAIE</h2> </center>

<center> <h1>Curso : Computación 2</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

<center> <h1>PANDAS</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

# Descripción:

<div class="alert alert-info">

En este notebook se explicarán la librería **Pandas** escrita como extensión de **NumPy** para la manipulación y análisis de datos en el lenguaje de programación Python. 
    
</div>

# Objetivos:

 1. Familiarizarce con creación de la estructura de tabla de datos **DataFrame.**
 2. Manejo inicial de un **DataFrame.**
 3. Importando archivos ***csv*** y manipulación inicial en **Pandas.**



[1. Pandas](#1.-Pandas)<br>
[2. Creación de DataFrame](#2.-Creación-de-DataFrame)<br>
[3. DataFrame a partir de archivo CSV](#3.-DataFrame-a-partir-de-archivo-CSV)<br>
[4. Estadistica DataFrame](#4.-Estadistica-DataFrame)<br>

[EJEMPLOS](#EJEMPLOS)<br>
[EJERCICIOS](#EJERCICIOS)<br>
[BIBLIOGRAFÍA](#BIBLIOGRAFÍA)<br>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

![640px-Pandas_logo svg](https://user-images.githubusercontent.com/19308295/119273971-1b925300-bbd3-11eb-9705-fa3a404af0e1.png)

## <font color=#33A5FF>****1. Pandas****<tfont>

<div class="well">
<strong>PanDaS  (Panel Data Set)</strong>  es una librería de Python para la <strong>ciencia de datos y Machine Learning</strong>, por muchas razones, ofrece estructuras de datos poderosas, expresivas y flexibles que facilitan la manipulación y análisis de datos. Entre las estructuras más utilizadas se encuentra el <strong>DataFrame</strong>.

<strong>Pandas</strong> es una librería de código abierto de Python que proporciona herramientas de análisis y manipulación de datos de alto rendimiento utilizando sus potentes estructuras de datos.
    
    
</div>

<div class="well">
La librería <strong>Pandas</strong> se desarrollo debido a la necesidad de tener una herramienta flexible de alto rendimiento para el análisis de datos, construido sobre Numpy. En Python se utiliza  <strong>pandas</strong> en Machine Learning para la manipulación y preparación de datos. 

Usando esta librería podemos lograr cinco pasos típicos en el procesamiento y análisis de datos, independientemente del origen de los datos:
</div>
     
    
   - Cargar
   - Preparar
   - Manipular
   - Modelar
   - Analizar

<div class="well">
    Caracteristicas principales de de la librería <strong>Pandas</strong>.
</div>   
   
   
   
   - Objeto DataFrame rápido y eficiente con indexación predeterminada y personalizada.
   - Alto rendimiento para cargar datos en objetos de datos en memoria desde diferentes formatos de archivo.
   - Alineación de datos y manejo integrado de datos faltantes.
   - Remodelación y giro de conjuntos de fechas.
   - Etiquetado, corte, indexación y subconjunto de grandes conjuntos de datos.
   - Las columnas de una estructura de datos se pueden eliminar o insertar.
   - Agrupa por datos para agregación y transformaciones.
   - Alto rendimiento de fusión y unión de datos.
   - Funcionalidad de la serie de tiempo.

## DataFrame

<div class="well">
Es una estructura de datos muy utilizada en <strong>pandas</strong>, es tabular bidimensional de tamaño variable y potencialmente heterogénea con ejes etiquetados (filas y columnas). 

Un <strong>DataFrame</strong>  es una estructura de datos bidimensional, es decir, los datos se alinean de forma tabular en filas y columnas. Pandas DataFrame consta de tres componentes principales:
</div>



   - Los datos
   - Las filas
   - Las columnas

![Pantas_DataFrame](https://user-images.githubusercontent.com/19308295/119273989-44b2e380-bbd3-11eb-96d1-bd7e8a928fd6.png)

<div class="alert alert-info">

Si hablamos de la estructura de un **DataFrame** es muy similar a la de una matriz. Pero en una matriz solamente se admiten valores numéricos, a diferencia de la matriz, en un **DataFrame** se puede incluir también datos alfanuméricos en su contenido. 


</div>

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****2. Creación de DataFrame****<tfont>

In [84]:
#Librerías
import numpy as np
import pandas as pd

###  A partir de diccionarios de listas

In [85]:
#Datos en listas
diccionario = {"a" : [11,12,13], "b" : [21,22,23]}

#DataFrame
df_lista = pd.DataFrame(diccionario)

#Impresión lista con print Spyder
print(df_lista)

#Impresión con función head()
df_lista.head()

    a   b
0  11  21
1  12  22
2  13  23

    a   b
0  11  21
1  12  22
2  13  23

In [86]:
#Datos en listas
diccionario_2 ={"Nombre" : ["Danna", "Matt", "Irma", "Gustavo", "Gladys"], 
                "Edad" : [19, 12, 50, 80, 83],
                "Categoria" : ["H", "H", "E", "A", "A"]}
#DataFrame
df_lista2 = pd.DataFrame(diccionario_2) 

#Impresión lista con print Spyder
print(df_lista2)

#Impresión con función head()
df_lista2.head()

    Nombre  Edad Categoria
0    Danna    19         H
1     Matt    12         H
2     Irma    50         E
3  Gustavo    80         A
4   Gladys    83         A

    Nombre  Edad Categoria
0    Danna    19         H
1     Matt    12         H
2     Irma    50         E
3  Gustavo    80         A
4   Gladys    83         A

In [87]:
#Imprimir solo una columna Spyder
print(df_lista2["Edad"])

0    19
1    12
2    50
3    80
4    83
Name: Edad, dtype: int64

In [88]:
#Imprimir solo una columna
df_lista2["Edad"]

0    19
1    12
2    50
3    80
4    83
Name: Edad, dtype: int64

### A partir de un numpy array de 2D

In [89]:
#A partir de Array 2D de 5 filas con 3 columnas
df_np2D = pd.DataFrame(
    np.random.randint(5,size =(5, 3)),
    index = ["primero", "segundo", "tercero", "cuarto", "quinta"],
    columns = ["velocidad", "temperatura", "presion"] 
)
#Impresión con función head()
df_np2D.head()

         velocidad  temperatura  presion
primero          1            0        3
segundo          0            3        3
tercero          1            4        0
cuarto           1            1        4
quinta           1            4        2

In [90]:
#forma dataframe spyder
print(df_np2D.shape)

#altura dataframe spyder
print(len(df_np2D.index))

(5, 3)
5

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****3. DataFrame a partir de archivo CSV****<tfont>

## CSV separado por comas:

Se adjunta un archivo `data.zip` a la practica, se debe crear la carpeta `data` con los archivos del `data.zip`.

In [91]:
#archivo CSV separado por comas
data = pd.read_csv("C:\\Users\\VICTUS\\Downloads\\titanic_comma.csv")

#leer 5 primeras lineas
data.head()

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1

In [92]:
#leer 5 últimas lineas
data.tail()

                        Name PClass   Age   Sex  Survived
1308      Zakarian, Mr Artun    3rd  27.0  male         0
1309  Zakarian, Mr Maprieder    3rd  26.0  male         0
1310        Zenni, Mr Philip    3rd  22.0  male         0
1311        Lievens, Mr Rene    3rd  24.0  male         0
1312          Zimmerman, Leo    3rd  29.0  male         0

In [93]:
#Para imprimir en Spyder
print(data)

                                               Name PClass    Age     Sex  \
0                      Allen, Miss Elisabeth Walton    1st  29.00  female
1                       Allison, Miss Helen Loraine    1st   2.00  female
2               Allison, Mr Hudson Joshua Creighton    1st  30.00    male
3     Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00  female
4                     Allison, Master Hudson Trevor    1st   0.92    male
...                                             ...    ...    ...     ...
1308                             Zakarian, Mr Artun    3rd  27.00    male
1309                         Zakarian, Mr Maprieder    3rd  26.00    male
1310                               Zenni, Mr Philip    3rd  22.00    male
1311                               Lievens, Mr Rene    3rd  24.00    male
1312                                 Zimmerman, Leo    3rd  29.00    male

      Survived
0            1
1            0
2            0
3            0
4            1
...        ...
1308         0
1309         0
1310         0
1311         0
1312         0

[1313 rows x 5 columns]

### CSV separado por tabulacion:

In [94]:
#archivo CSV separado por comas
data2 = pd.read_csv("C:\\Users\\VICTUS\\Downloads\\titanic_tabs (1).csv", sep = "\t")

#leer 5 primeras lineas
data2.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****4. Estadistica DataFrame****<tfont>

<div class="well">
En <strong>Pandas</strong>  podemos hallar con pocos comandos de manera muy sencilla y rapida <strong>la estadistica</strong> de los datos de todo tipo de archivos. Comenzamos con archivos <code>csv</code>.   
</div>

In [110]:
#cargamos un archivo CSV separado por punto y coma (importado excel)
notas = pd.read_csv("C:\\Users\\VICTUS\\Downloads\\notas.csv", sep = ";")
#leer 10 primeras lineas
notas.head(10)
#imprimir toda la lista
#print(notas)

   Alumno  Nota1  Nota2  Nota3  Promedio
0   Maria   18.0     19     18        18
1    Jose    8.0     15     11        11
2    Juan   13.0     12     17        14
3    Luis   10.0     19     18        16
4  Carlos   16.0     12     10        13
5    Rosa    0.0     14     10         8
6   Jorge    9.0     11     19        13
7  Victor    6.0     13     10        10
8     Ana   18.0     19     11        16
9     Luz   14.0     20     16        17

`describe()` : muestra estadísticas de resumen para las columnas numéricas.

In [108]:
#Estadísticas del DataFrame
print("Estadisticas del DataFrame: ")

#impresión
notas.describe()

Estadisticas del DataFrame:

           Nota1      Nota2      Nota3   Promedio
count  49.000000  50.000000  50.000000  50.000000
mean   11.836735  13.720000  14.720000  13.440000
std     5.075870   4.204177   3.434756   2.778636
min     0.000000   0.000000  10.000000   8.000000
25%     8.000000  11.000000  11.250000  12.000000
50%    11.000000  13.000000  14.500000  13.000000
75%    16.000000  17.000000  18.000000  15.750000
max    20.000000  20.000000  20.000000  19.000000

Para los datos numéricos, el índice del resultado incluirá **cantidad de datos** `count`, **media** `mean`, desviación estandar `std`, **valor mínimo** `min`, **valor máximo**,los percentiles inferior de 25% y el percentil superior de 75%.

### Media de las columnas DataFrame

In [113]:
#Media de las columnas DataFrame
print("Media de las columnas DataFrame: ")
#impresión print spyder
print(notas.mean())

Media de las columnas DataFrame:

TypeError: Could not convert ['MariaJoseJuanLuisCarlosRosaJorgeVictorAnaLuzCesarCarmenMiguelJulioJesusPedroManuelJuanaSantosSegundoJhonDavidAngelJuliaDiegoFlorElizabethDanielOscarRuthDianaMarcoEdwinJavierWalterFranciscoFernandoMilagrosAlejandroRaulRicardoAlexRobertoEdgarVictoriaEduardoMarioJaimeGloriaAndrea'] to numeric

In [40]:
#impresión
notas.mean()

TypeError: Could not convert ['MariaJoseJuanLuisCarlosRosaJorgeVictorAnaLuzCesarCarmenMiguelJulioJesusPedroManuelJuanaSantosSegundoJhonDavidAngelJuliaDiegoFlorElizabethDanielOscarRuthDianaMarcoEdwinJavierWalterFranciscoFernandoMilagrosAlejandroRaulRicardoAlexRobertoEdgarVictoriaEduardoMarioJaimeGloriaAndrea'] to numeric

### Correlación del DataFrame

In [61]:
#Correlación del DataFrame
print("Correlacion del DataFrame")

#impresión
notas.corr()

Correlacion del DataFrame

ValueError: could not convert string to float: 'Maria'

### Cuenta los datos del DataFrame

In [114]:
#Cuenta los datos del DataFrame no nulos
print("Conteo de datos del DataFrame: ")

#impresión
notas.count()

Conteo de datos del DataFrame:

Alumno      50
Nota1       49
Nota2       50
Nota3       50
Promedio    50
dtype: int64

### Valor más alto

In [117]:
#Valor más alto de cada columna del DataFrame
print("Valor mas alto de la columna del DataFrame: ")

#impresión
notas.max()

Valor mas alto de la columna del DataFrame:

Alumno      Walter
Nota1         20.0
Nota2           20
Nota3           20
Promedio        19
dtype: object

### Valor más bajo

In [118]:
#Valor mínimo de cada columna del DataFrame
print("Valor minimo de la columna del DataFrame: ")

#impresión
notas.min()

Valor minimo de la columna del DataFrame:

Alumno      Alejandro
Nota1             0.0
Nota2               0
Nota3              10
Promedio            8
dtype: object

### Mediana x Columna

In [119]:
#Mediana de cada columna del DataFrame
print("Mediana de la columna del DataFrame: ")

#impresion
notas.mean()

Mediana de la columna del DataFrame:

TypeError: Could not convert ['MariaJoseJuanLuisCarlosRosaJorgeVictorAnaLuzCesarCarmenMiguelJulioJesusPedroManuelJuanaSantosSegundoJhonDavidAngelJuliaDiegoFlorElizabethDanielOscarRuthDianaMarcoEdwinJavierWalterFranciscoFernandoMilagrosAlejandroRaulRicardoAlexRobertoEdgarVictoriaEduardoMarioJaimeGloriaAndrea'] to numeric

### Desviación estándar x Columna

In [120]:
#Desviación estándar de cada columna del DataFrame
print("Desviacion estandar de la columna del DataFrame: ")

#impresion
notas.std()

Desviacion estandar de la columna del DataFrame:

TypeError: could not convert string to float: 'Maria'

##  Seleccionar un índice o columna

Una de las funciones que son muy fáciles en **Pandas** es seleccionar los datos que deseas en comparación con seleccionar un valor de una lista o un diccionario. Puedes seleccionar una columna de manera muy fácil, solamente deberás indicar el índice de la misma.

In [124]:
#Seleccionar la primera columna del DataFrame
print("Primera columna del DataFrame: ")

#impresión
notas.iloc[:, 0]

Primera columna del DataFrame:

0         Maria
1          Jose
2          Juan
3          Luis
4        Carlos
5          Rosa
6         Jorge
7        Victor
8           Ana
9           Luz
10        Cesar
11       Carmen
12       Miguel
13        Julio
14        Jesus
15        Pedro
16       Manuel
17        Juana
18       Santos
19      Segundo
20         Jhon
21        David
22        Angel
23        Julia
24        Diego
25         Flor
26    Elizabeth
27       Daniel
28        Oscar
29         Ruth
30        Diana
31        Marco
32        Edwin
33       Javier
34       Walter
35    Francisco
36     Fernando
37     Milagros
38    Alejandro
39         Raul
40      Ricardo
41         Alex
42      Roberto
43        Edgar
44     Victoria
45      Eduardo
46        Mario
47        Jaime
48       Gloria
49       Andrea
Name: Alumno, dtype: object

In [125]:
#Seleccionar dos columnas del DataFrame
print("Dos columnas del DataFrame: ")

#impresión
notas.iloc[:, 0:2]

Dos columnas del DataFrame:

       Alumno  Nota1
0       Maria   18.0
1        Jose    8.0
2        Juan   13.0
3        Luis   10.0
4      Carlos   16.0
5        Rosa    0.0
6       Jorge    9.0
7      Victor    6.0
8         Ana   18.0
9         Luz   14.0
10      Cesar    8.0
11     Carmen   14.0
12     Miguel   14.0
13      Julio   11.0
14      Jesus   12.0
15      Pedro    5.0
16     Manuel   15.0
17      Juana    8.0
18     Santos    7.0
19    Segundo    NaN
20       Jhon   10.0
21      David    7.0
22      Angel   18.0
23      Julia    7.0
24      Diego   20.0
25       Flor   12.0
26  Elizabeth   16.0
27     Daniel   18.0
28      Oscar   10.0
29       Ruth    9.0
30      Diana   16.0
31      Marco    9.0
32      Edwin    0.0
33     Javier    6.0
34     Walter   11.0
35  Francisco    5.0
36   Fernando   10.0
37   Milagros   18.0
38  Alejandro    9.0
39       Raul   20.0
40    Ricardo    9.0
41       Alex   10.0
42    Roberto   19.0
43      Edgar   15.0
44   Victoria    8.0
45    Eduardo   12.0
46      Mario   19.0
47      Jaime   18.0
48     Gloria   19.0
49     Andrea   14.0

In [126]:
#Seleccionar el valor de la primera fila y última columna del DataFrame
print("Valor de  la primera fila (Alumno: Maria) y 3era columna (Nota2) del DataFrame")

#impresión
notas.iloc[0] [2]

Valor de  la primera fila (Alumno: Maria) y 3era columna (Nota2) del DataFrame

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_17012\3025607746.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  notas.iloc[0] [2]

19

In [130]:
#Seleccionar los valores de la primera fila del DataFrame
print("Valores de la primera fila del DataFrame: ")

#impresión
notas.loc[0]

Valores de la primera fila del DataFrame:

Alumno      Maria
Nota1        18.0
Nota2          19
Nota3          18
Promedio       18
Name: 0, dtype: object

In [129]:
#Seleccionar los valores de la primera fila del DataFrame
print("Valores de la primera fila del DataFrame: ")

#impresión
notas.iloc[0, :]

Valores de la primera fila del DataFrame:

Alumno      Maria
Nota1        18.0
Nota2          19
Nota3          18
Promedio       18
Name: 0, dtype: object

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****EJEMPLOS****<tfont>

### Explorando datos

In [132]:
#cargamos un archivo CSV separado por punto y coma (importado excel)
notas = pd.read_csv('C:\\Users\\VICTUS\\Downloads\\notas.csv', sep = ';')

In [133]:
notas.head()

   Alumno  Nota1  Nota2  Nota3  Promedio
0   Maria   18.0     19     18        18
1    Jose    8.0     15     11        11
2    Juan   13.0     12     17        14
3    Luis   10.0     19     18        16
4  Carlos   16.0     12     10        13

In [134]:
#Tamaño de tabla
notas.shape

(50, 5)

In [135]:
#Tipos de datos de la columnas
notas.dtypes

Alumno       object
Nota1       float64
Nota2         int64
Nota3         int64
Promedio      int64
dtype: object

In [136]:
#Tipo de dato de la tabla
type(notas)

pandas.core.frame.DataFrame

In [137]:
#Nombre de las columnas
notas.columns

Index(['Alumno', 'Nota1', 'Nota2', 'Nota3', 'Promedio'], dtype='object')

### SubConjuntos
![subconjuntos](https://user-images.githubusercontent.com/19308295/119282515-8c4f6480-bbff-11eb-8432-581e44f4a2f0.png)

In [138]:
#Seleccionar SubConjunto con dos columnas del DataFrame en orden establecido
notas.loc[:,['Promedio','Alumno']]

    Promedio     Alumno
0         18      Maria
1         11       Jose
2         14       Juan
3         16       Luis
4         13     Carlos
5          8       Rosa
6         13      Jorge
7         10     Victor
8         16        Ana
9         17        Luz
10        14      Cesar
11        13     Carmen
12        13     Miguel
13        12      Julio
14        12      Jesus
15        10      Pedro
16        18     Manuel
17        10      Juana
18        13     Santos
19        14    Segundo
20         9       Jhon
21         8      David
22        13      Angel
23        12      Julia
24        19      Diego
25        12       Flor
26        18  Elizabeth
27        16     Daniel
28        10      Oscar
29        11       Ruth
30        14      Diana
31        13      Marco
32        10      Edwin
33        11     Javier
34        13     Walter
35        12  Francisco
36        14   Fernando
37        14   Milagros
38        13  Alejandro
39        18       Raul
40        14    Ricardo
41        13       Alex
42        15    Roberto
43        11      Edgar
44        12   Victoria
45        14    Eduardo
46        17      Mario
47        17      Jaime
48        17     Gloria
49        17     Andrea

### Operando entre columnas

In [139]:
#Nueva columa a partir de Operación entre columnas

notas['Promedio 1 y 2'] = (notas['Nota1']+notas['Nota2'])/2

notas.head()

   Alumno  Nota1  Nota2  Nota3  Promedio  Promedio 1 y 2
0   Maria   18.0     19     18        18            18.5
1    Jose    8.0     15     11        11            11.5
2    Juan   13.0     12     17        14            12.5
3    Luis   10.0     19     18        16            14.5
4  Carlos   16.0     12     10        13            14.0

### Filtros
![filtros](https://user-images.githubusercontent.com/19308295/119282563-b6a12200-bbff-11eb-82ee-606fbfe2ac1b.png)

In [140]:
#FILTRAR Cuantos alumnos califican como excelencia Promedio mayores o igual a 18
#MÉTODO 1
notas.loc[notas.Promedio >= 18]

       Alumno  Nota1  Nota2  Nota3  Promedio  Promedio 1 y 2
0       Maria   18.0     19     18        18            18.5
16     Manuel   15.0     20     20        18            17.5
24      Diego   20.0     18     18        19            19.0
26  Elizabeth   16.0     19     18        18            17.5
39       Raul   20.0     18     16        18            19.0

In [141]:
#FILTRAR Cuantos alumnos califican como excelencia Promedio mayores o igual a 18
#MÉTODO 2
notas.loc[notas['Promedio'] >= 18]

       Alumno  Nota1  Nota2  Nota3  Promedio  Promedio 1 y 2
0       Maria   18.0     19     18        18            18.5
16     Manuel   15.0     20     20        18            17.5
24      Diego   20.0     18     18        19            19.0
26  Elizabeth   16.0     19     18        18            17.5
39       Raul   20.0     18     16        18            19.0

### Seleccionar Fila y Columnas
![seleccion](https://user-images.githubusercontent.com/19308295/119283031-590dd500-bc01-11eb-93db-ee8a79b00103.png)

In [142]:
#Asignando resultado a otro DataFrame, con una sola columna 'Alumno'
excelencia = notas.loc[notas['Promedio'] >= 18,['Alumno']]
excelencia

       Alumno
0       Maria
16     Manuel
24      Diego
26  Elizabeth
39       Raul

In [143]:
#Tipo de tabla creada
type(excelencia)

pandas.core.frame.DataFrame

In [144]:
#Cantidad de excelencia
excelencia.count()

Alumno    5
dtype: int64

In [145]:
len(excelencia)

5

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****EJERCICIOS****<tfont>

### Ejercicio 1 - Investigar Como? Abrir archivo `xlsx`

<div class="well">Abrilr el archivo <code>titanic.xlsx</code> (archivo en carpeta /data)
    
   1.- <strong>Usar nueva librería!!.</strong>

   2.- <strong>Explorar la data.</strong>
</div>

### Ejercicio 2 - Investigar Como? Crear SubConjuntos

<div class="well">Crear <strong>Sub Conjuntos</strong> del DataFrame con las columnas: (visualizar solo 5 primeros)
   
   1.-<strong>Nombre</strong> con <strong>Edad</strong>
   
   2.-<strong>Sexo</strong> con <strong>Nombre</strong> y <strong>Clase</strong>
    
</div>

### Ejercicio 3 - Investigar Como? Filtrar

<div class="well">Crear <strong>Filtros</strong> del DataFrame con: (visualizar solo 5 primeros)
   
   1.-Selección de los <strong>hombres</strong> que abordaron el titanic.
   
   2.-Selección de las <strong>mujeres</strong> que abordaron el titanic.
    
   3.-Personas con <strong>mas de 30 años</strong> que abordaron el titanic.
    
   4.-Personas que <strong>pertenecen a la clase 1 y 2</strong> del titanic.
    
   5.-Personas que <strong>registraron su edad.</strong>
   
    
</div>

### Ejercicio 4 - Investigar Como?  Seleccionar Filas y Columnas

<div class="well">Crear <strong>Selección</strong> del DataFrame con: 
   
   1.-Selección de los <strong>nombres</strong> de pasajeros <strong>mayores de 30 años.</strong>
   
   2.-Selección de los <strong>nombres</strong> de las <strong>mujeres</strong> que tienen familiares que abordaron el titanic.
    
   3.-Selección de las <strong>filas 0 a 10 y las columnas 2 a 6.</strong>
    
   
</div>

### Ejercicio 5 - Investigar Como?

<div class="well">Hallar los <strong>Valores</strong> del DataFrame: 
   
   1.-<strong>Valor promedio</strong> de la edad de los pasajeros.
   
   2.-Pasajeros <strong>mujeres</strong> con <strong>mayor edad</strong> que abordaron el titanic.
    
   3.-Pasajeros <strong>mujeres</strong> con <strong>menor edad</strong> que abordaron el titanic.
    
   4.-Número <strong>total de pasajeros</strong> registrados en el titanic
    
   
</div>

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

## <font color=#33A5FF>****BIBLIOGRAFÍA****<tfont>

[1] Guía de pandas oficial https://pandas.pydata.org/docs/user_guide/index.html

[2] Python Pandas Tutorial: A Complete Introduction for Beginners https://bit.ly/2AQMQld

[3] Guía para pandas https://pybonacci.org/2014/05/30/pandas-i/

[4] Dataset variados https://www.kaggle.com/datasets

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)